@use "variables" as *;

.menu {
  background-color: black;
  color: white;
  width: 100%;
  max-width: 1000px;
  /*margin: auto;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu__nav-button {
  display: block;
}

.menu__nav-list {
  display: none;
}

.menu a {
  color: white;
}

@media (min-width: $breakpoint) {
  .menu__nav-button {
    display: none;
  }

  .menu__nav-list {
    display: block;
  }
}
