@use "variables" as *;

.menu {
  background-color: black;
  color: white;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__nav {
    &-button {
      display: block;

      @media (min-width: $breakpoint) {
        display: none;
      }
    }

    &-list {
      display: none;
      position: absolute;
      left: 0;
      list-style: none;
      padding: 0;
      width: 100%;
      background-color: #cff;
      color: #000;

      @media (min-width: $breakpoint) {
        display: flex;
        position: static;
      }

      &--active {
        display: block;
      }

      &-item {
        a {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #000;
          padding: 10px;
          text-decoration: none;
          border-bottom: 1px solid #000;
          min-height: 48px;

          &:after {
            content: '>';

            @media (min-width: $breakpoint) {
              display: none;
            }
          }
        }
      }
    }
  }
}
