@use "variables" as *;

.menu {
  background-color: black;
  color: $primaryColor;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  &__header {
    margin: 0;
    font-size: 2rem;

    a {
      color: $primaryColor;
      text-decoration: none;

      &:hover {
        @media (min-width: $breakpoint) {
          text-decoration: underline;
        }
      }
    }
  }

  &__nav {
    &-button {
      position: relative;
      display: block;
      width: 48px;
      height: 48px;
      text-indent: -9999px;
      overflow: hidden;
      margin: 0;
      padding: 0;
      border: none;

      &:after {
        position: absolute;
        background-image: url("/img/icons/menu.svg");
        content: '';
        top: 10px;
        left: 10px;
        text-indent: 0;
        font-size: 100%;
        line-height: 28px;
        width: 28px;
        height: 28px;
        display: block;
      }

      @media (min-width: $breakpoint) {
        display: none;
      }
    }

    &-list {
      display: none;
      position: absolute;
      left: 0;
      list-style: none;
      padding: 0;
      width: 100%;
      background-color: $primaryColor;
      color: $secondaryColor;
      margin: 10px 0 0 0;

      @media (min-width: $breakpoint) {
        margin: 0;
        display: flex;
        position: static;
        background-color: transparent;
      }

      &--active {
        display: block;
      }

      &-item {
        a {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: $ternaryColor;
          padding: 10px;
          text-decoration: none;
          border-bottom: 1px solid $ternaryColor;
          min-height: 48px;

          @media (min-width: $breakpoint) {
            color: $primaryColor;
          }

          &:hover {
            @media (min-width: $breakpoint) {
              text-decoration: underline;
            }
          }

          &:after {
            content: '>';

            @media (min-width: $breakpoint) {
              display: none;
            }
          }
        }
      }
    }
  }
}
